<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item *ngFor="let data of datas">
      <h2>{{test}}</h2>
      
    </ion-item>
  </ion-list>
</ion-content>
