<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form >
        <ion-item>
          <ion-label>Ort</ion-label>
          <ion-select >
              <ion-option value="gutach">Gutach</ion-option>
              <ion-option value="winden">Winden</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Erinnerung</ion-label>
            <ion-datetime displayFormat="HH:mm" ></ion-datetime>
        </ion-item>
        <button ion-button type="submit" block>Speichern</button>
      </form>
  

</ion-content>
